<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()" [ngClass]="{'notExpanded': isExpanded}" id="apps-btn">
            <mat-icon>apps</mat-icon>
        </button>
        <div class="ms-auto d-flex">
            <div>
                <a id="dropdownMenuButton" class="header-icon align-items-center justify-content-center ms-2 cursor-pointer" data-bs-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <img src="https://source.unsplash.com/WNoLnJo7tS8" class="profile-image rounded-circle" alt="Sulav Shrestha">
                </a>
                <div class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                        <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                            <span class="me-2">
                                <img src="https://source.unsplash.com/WNoLnJo7tS8" class="rounded-circle profile-image" alt="Sulav Shrestha">
                            </span>
                            <div class="info-card-text">
                                <div class="fs-lg text-truncate text-truncate-lg">Sulav Shrestha</div>
                                <span class="text-truncate text-truncate-md opacity-80">crewsondestiny5@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider m-0"></div>
                    <a [routerLink]="['/EditProfile']" class="dropdown-item">
                        Edit Profile
                    </a>
                    <a [routerLink]="['/ChangePassword']" class="dropdown-item">
                        Change Password
                    </a>
                    <div href="/Home/Login" class="dropdown-divider m-0"></div>
                    <a class="dropdown-item fw-500 pt-3 pb-3"> Logout </a>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
