<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-hdr">
                    <h2>
                        Edit Product
                    </h2>
                </div>
                <div class="panel-container" id="ibox_form">
                    <div class="panel-content">
                        <div class="alert alert-danger" id="emsg" style="display: none;">
                            <span id="emsgbody"></span>
                        </div>
                        <form class="form-horizontal" id="rform">
                            <div class="mb-3"><label for="name">Name*</label>
                                <input type="text" id="name" name="name" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3"><label for="cost_price">Cost Price</label>
                                <input type="text" id="cost_price" name="cost_price" class="form-control amount" autocomplete="off" data-a-sign="$ " data-a-dec="." data-a-sep="," data-d-group="3">
                            </div>
                            <div class="mb-3"><label for="sales_price">Sales Price</label>
                                <input type="text" id="sales_price" name="sales_price" class="form-control amount" autocomplete="off" data-a-sign="$ " data-a-dec="." data-a-sep="," data-d-group="3">
                            </div>
                            <div class="mb-3"><label for="item_number">Item Number</label>
                                <input type="text" id="item_number" value="0023" name="item_number" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="tax_code">
                                    TAX Code
                                </label>
                                <input type="text" id="tax_code" name="tax_code" class="form-control" autocomplete="off">
                            </div>
                            <div class="mb-3"><label for="description">Description</label>
                                <textarea id="description" name="description" class="form-control" rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="mb-3 "><label for="unit ">Unit</label>
                                <select class="form-control " id="unit " name="unit ">
                                    <option value=" ">...</option>
                                    <option value="Position ">Position</option>
                                    <option value="Feet ">Feet</option>
                                    <option value="Centimeter ">Centimeter</option>
                                    <option value="Inches ">Inches</option>
                                    <option value="A2 ">A2</option>
                                    <option value="A3 ">A3</option>
                                    <option value="A4 ">A4</option>
                                    <option value="Grams ">Grams</option>
                                    <option value="Shaken ">Shaken</option>
                                    <option value="kg ">kg</option>
                                    <option value="PCS ">PCS</option>
                                </select>
                            </div>
                            <div class="mb-3 ">
                                <label for="width ">Size</label>
                                <div class="row ">
                                    <div class="col-md-3 ">
                                        <input type="text " id="width " name="width " placeholder="Width " class="form-control " autocomplete="off ">
                                    </div>
                                    <div class="col-md-3 ">
                                        <input type="text " id="lenght " name="length " class="form-control " placeholder="Length " autocomplete="off ">
                                    </div>
                                    <div class="col-md-3 ">
                                        <input type="text " id="height " name="height " class="form-control " placeholder="Height " autocomplete="off ">
                                    </div>
                                    <div class="col-md-3 ">
                                        <input type="text " id="weight " name="weight " class="form-control " placeholder="Weight " autocomplete="off ">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label for="color ">Color</label>
                                <input type="text " id="color " name="color " class="form-control " autocomplete="off ">
                            </div>
                            <div class="mb-3 ">
                                <button class="btn btn-primary waves-effect waves-themed " type="submit " id="submit ">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="panel ">
                <div class="panel-hdr ">
                    <h2>Image</h2>
                </div>
                <div class="panel-container " id="ibox_form ">
                    <div class="panel-content ">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <h3><i class="fas fa-cloud-upload-alt"></i> Drop File Here</h3>
                                <br>
                                <span class="note ">Or Click to Upload</span>
                            </ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <hr>
                <img src="https://source.unsplash.com/PDX_a_82obo" class="img-fluid">
            </div>
        </div>
    </div>
</main>