<main id="clx-page-content" role="main" class="page-content ">
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon far fa-window-maximize"></i> Sales
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-stat2" id="paid">
                <div class="number">
                    <h3 class="h2 font-weight-bold mb-0 text-white">
                        <span>$293.00</span>
                    </h3>
                    <small class="h5  mb-0 text-white">Paid</small>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 40%;" class="progress-bar bg-info">
        </span>
                    </div>
                    <div class="progress-status">
                        <div class="text-nowrap text-white font-weight-600"> 40% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat2" id="unpaid">
                <div class="number">
                    <h3 class="h2 font-weight-bold mb-0 text-white">
                        <span>$2,249.00</span>
                    </h3>
                    <small class="h5 mb-0 text-white">Unpaid</small>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 60%;" class="progress-bar  bg-success">
        <span class="sr-only">60%</span>
                        </span>
                    </div>
                    <div class="progress-status">
                        <div class="text-nowrap text-white font-weight-600"> 60% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat2" id="part_paid">
                <div class="number">
                    <h3 class="h2 font-weight-bold mb-0 text-white">
                        <span>$0.00</span>
                    </h3>
                    <small class="h5 mb-0 text-white">Partially Paid</small>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 0%;" class="progress-bar bg-warning">
        <span class="sr-only ">0%</span>
                        </span>
                    </div>
                    <div class="progress-status">
                        <div class="text-nowrap text-white font-weight-600"> 0% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-stat2" id="cancelled">
                <div class="number ">
                    <h3 class="h2 font-weight-bold mb-0 text-white">
                        <span class="amount" data-a-sign="$">$0.00</span>
                    </h3>
                    <small class="h5 mb-0 text-white">Cancelled</small>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 0%; " class="progress-bar bg-danger">
        <span class="sr-only ">0%</span>
                        </span>
                    </div>
                    <div class="progress-status">
                        <div class="text-nowrap text-white font-weight-600"> 0% </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-hdr">
                    <h2>Invoices</h2>
                    <div class="panel-toolbar">
                        <div class="btn-group">
                            <a [routerLink]="['/NewInvoice']" class="btn btn-sm btn-primary waves-effect waves-themed"> Add Invoice</a>
                        </div>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <ul class="nav nav-tabs nav-tabs-clean mb-3" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="v-pills-unpaid-tab" data-bs-toggle="pill" data-bs-target="#v-pills-unpaid" type="button" role="tab" aria-controls="v-pills-unpaid" aria-selected="false">Unpaid</a></li>
                            <li class="nav-item"><a class="nav-link" id="v-pills-part-paid-tab" data-bs-toggle="pill" data-bs-target="#v-pills-part-paid" type="button" role="tab" aria-controls="v-pills-part-paid" aria-selected="false">Partially Paid</a></li>
                            <li class="nav-item"><a class="nav-link" id="v-pills-paid-tab" data-bs-toggle="pill" data-bs-target="#v-pills-paid" type="button" role="tab" aria-controls="v-pills-paid" aria-selected="false">Paid</a></li>
                            <li class="nav-item"><a class="nav-link" id="v-pills-cancelled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cancelled" type="button" role="tab" aria-controls="v-pills-cancelled" aria-selected="false">Cancelled</a></li>
                            <li class="nav-item"><a class="nav-link" id="v-pills-all-tab" data-bs-toggle="pill" data-bs-target="#v-pills-all" type="button" role="tab" aria-controls="v-pills-all" aria-selected="false">All</a></li>
                        </ul>
                        <div class="table-responsive tab-pane fade show active" id="v-pills-unpaid" role="tabpanel" aria-labelledby="v-pills-unpaid-tab">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3 ">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter " class="dataTables_filter "><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0
                        border-right-0 "><i class="fas fa-search "></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey " (keyup)="applyFilter() " placeholder="Search ">
                                                <button *ngIf="searchKey " matSuffix mat-icon-button aria-label="Clear " (click)="searchKey='' " (click)="refresh() ">
                                                    <mat-icon id="close ">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="mat-elevation-z8 ">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row ">
                                                    <div class="btn-group float-right ">
                                                        <a class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip " data-title="View " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-file-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip " data-title="Edit " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-pen-square"></i></a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip " data-title="Delete " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-trash-alt "></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive tab-pane fade" id="v-pills-part-paid" role="tabpanel" aria-labelledby="v-pills-part-paid-tab">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3 ">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter " class="dataTables_filter "><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0
                        border-right-0 "><i class="fas fa-search "></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey " (keyup)="applyFilter() " placeholder="Search ">
                                                <button *ngIf="searchKey " matSuffix mat-icon-button aria-label="Clear " (click)="searchKey='' " (click)="refresh() ">
                                                    <mat-icon id="close ">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="mat-elevation-z8 ">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row ">
                                                    <div class="btn-group float-right ">
                                                        <a class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip " data-title="View " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-file-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip " data-title="Edit " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-pen-square"></i></a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip " data-title="Delete " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-trash-alt "></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive tab-pane fade" id="v-pills-paid" role="tabpanel" aria-labelledby="v-pills-paid-tab">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3 ">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter " class="dataTables_filter "><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0
                        border-right-0 "><i class="fas fa-search "></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey " (keyup)="applyFilter() " placeholder="Search ">
                                                <button *ngIf="searchKey " matSuffix mat-icon-button aria-label="Clear " (click)="searchKey='' " (click)="refresh() ">
                                                    <mat-icon id="close ">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="mat-elevation-z8 ">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row ">
                                                    <div class="btn-group float-right ">
                                                        <a class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip " data-title="View " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-file-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip " data-title="Edit " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-pen-square"></i></a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip " data-title="Delete " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-trash-alt "></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive tab-pane fade" id="v-pills-cancelled" role="tabpanel" aria-labelledby="v-pills-cancelled-tab">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3 ">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter " class="dataTables_filter "><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0
                        border-right-0 "><i class="fas fa-search "></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey " (keyup)="applyFilter() " placeholder="Search ">
                                                <button *ngIf="searchKey " matSuffix mat-icon-button aria-label="Clear " (click)="searchKey='' " (click)="refresh() ">
                                                    <mat-icon id="close ">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="mat-elevation-z8 ">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row ">
                                                    <div class="btn-group float-right ">
                                                        <a class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip " data-title="View " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-file-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip " data-title="Edit " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-pen-square"></i></a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip " data-title="Delete " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-trash-alt "></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive tab-pane fade" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3 ">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter " class="dataTables_filter "><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0
                        border-right-0 "><i class="fas fa-search "></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey " (keyup)="applyFilter() " placeholder="Search ">
                                                <button *ngIf="searchKey " matSuffix mat-icon-button aria-label="Clear " (click)="searchKey='' " (click)="refresh() ">
                                                    <mat-icon id="close ">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="mat-elevation-z8 ">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row ">
                                                    <div class="btn-group float-right ">
                                                        <a class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip " data-title="View " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-file-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip " data-title="Edit " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-pen-square"></i></a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip " data-title="Delete " data-placement="top " data-bs-original-title=" " title=" "><i class="fas fa-trash-alt "></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
