body {
    font-family: "Open Sans",sans-serif;
    font-size: .8125rem;
    letter-spacing: .1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}
*/

@media only screen and (max-width: 992px) {
    .page-wrapper .page-sidebar .primary-nav {
        overflow: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        height: calc(100% - 6.9375rem);
    }
}
@media (min-width: 992px) {
    .page-content .panel {
        margin-bottom: 1.5rem;
    }
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
html body a {
    color: #1e1e2c;
    background-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    margin-bottom: 0.5rem !important;
    color: #32325d !important;
}

button,
input {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    line-height: normal;
}

#dimen {
    margin-bottom:0.25rem;
    margin-top: 0.25rem;
}

hr {
    border: none !important;
    border-bottom: 1px dashed #eee !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.alert-danger {
    color: #e7026e !important;
    background-color: #ffe5f1 !important;
}

.text-danger {
    color: #E11D48 !important;
}

.text-info {
    color: #7553F7 !important;
}

.bg-info {
    color: #2F92B5 !important;
}

.color-white {
    color: white;
}

.btn-warning {
    color: #fff;
    background-color: #fb6340;
    border-color: #fb6340;
}
.bg-warning-400 {
    background-color: #e9c578;
    color: rgba(0,0,0,.8);
}

.bg-success-200 {
    background-color: #9acdc8;
    color: rgba(0,0,0,.8);
}

.bg-info-200 {
    background-color: #6ab8f7;
    color: rgba(0,0,0,.8);
}
.bg-primary-200 {
    background-color: #92a4bd;
    color: rgba(0,0,0,.8);
}

.mb-g {
    margin-bottom: 1.5rem !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.l-h-n {
    line-height: normal;
}

.m-0 {
    margin: 0 !important;
}
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.57;
}

.opacity-15 {
    opacity: .15;
}

.pos-bottom {
    bottom: 0;
}

.pos-right {
    right: 0;
}

.h5 small, .h6 small, h5 small, h6 small {
    font-size: .8125rem;
}

    .btn-warning:hover {
        color: #212529;
        background-color: #e0ae41;
        border-color: #dea936;
    }

.btn-info:hover {
    color: #fff;
    background-color: #0c83e2;
    border-color: #0c7cd5;
}

.pos-bottom {
    bottom: 0;
}

.pos-right {
    right: 0;
}

.pos-left {
    left: 0;
}

.text-center {
    text-align: center !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.p-3 {
    padding: 1rem !important;
}

.position-absolute {
    position: absolute !important;
}

.w-100 {
    width: 100% !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0px !important;
}

.mat-expansion-indicator::after {
    color: #757884 !important;
}

.mat-expanded .mat-expansion-indicator::after {
    color: white !important;
}

.mat-expansion-panel.close .mat-expansion-panel-header span::after,
.mat-expansion-panel.close .mat-expansion-panel-header-title {
    display: none !important;
}

.align-items-center {
    align-items: center !important;
}

.text-white {
    color: #fff !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-block {
    display: inline-block !important;
}

.accordion-button {
    transition: none;
}

.btn-danger {
    color: #fff;
    background-color: #f6365b !important;
    border-color: #f6365b !important;
}

.btn-success {
    color: #fff;
    background-color: #2cce89;
    border-color: #2cce89;
}

.btn-primary {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
}

.btn-dark {
    color: #fff;
    background-color: #414141;
    border-color: #414141;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.btn-secondary {
    background-color: #172b4e;
    border-color: #172b4e;
}

.btn-info {
    color: #fff;
    background-color: #10cdef;
    border-color: #10cdef;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label .ng-star-inserted {
    padding-left: 0.6rem !important;
}

#close {
    background-color: #fff;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 0.375rem 0.844rem;
    font-size: .75rem;
    border-radius: 4px;
}

.dt-buttons .btn-sm {
    margin-right: 2.5px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e1e2c;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1.125rem;
    color: #c6c2f6;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.dropdown-menu.show {
    display: block !important;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a:hover {
    cursor: pointer;
}

mat-drawer {
    width: 18.2rem;
    max-width: 18.2rem;
    background-color: #1e1e2c;
}

.opened {
    width: 18.2rem;
    max-width: 18.2rem;
}

.closed {
    width: 4.6875rem;
}

mat-drawer-container {
    height: 100%;
}

.mat-expansion-panel-header-title {
    color: white !important;
}

#close {
    background-color: #fff;
}


#customer {
    display: flex;
    margin-top: 0px;
    padding-bottom: 89.5px;
    align-items: center;
}

#employee {
    display: flex;
    margin-top: 0px;
    padding-bottom: 89.5px;
    align-items: center;
}

#task {
    display: flex;
    margin-top: 0px;
    padding-bottom: 66.5px;
    align-items: center;
}

#product {
    display: flex;
    margin-top: 0px;
    padding-bottom: 28px;
    align-items: center;
}

#dataTable {
    padding-top: 1rem !important;
}

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    margin-bottom: 0.5rem !important;
    color: #32325d !important;
}

button,
input {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    line-height: normal;
}

hr {
    border: none !important;
    border-bottom: 1px dashed #eee !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.alert-danger {
    color: #e7026e !important;
    background-color: #ffe5f1 !important;
}

.text-danger {
    color: #E11D48 !important;
}

.text-info {
    color: #7553F7 !important;
}

.bg-info {
    color: #2F92B5 !important;
}

.color-white {
    color: white;
}

.btn-warning {
    color: #fff;
    background-color: #fb6340;
    border-color: #fb6340;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0ae41;
    border-color: #dea936;
}

.btn-info:hover {
    color: #fff;
    background-color: #0c83e2;
    border-color: #0c7cd5;
}

.pos-bottom {
    bottom: 0;
}

.pos-right {
    right: 0;
}

.pos-left {
    left: 0;
}

.text-center {
    text-align: center !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.p-3 {
    padding: 1rem !important;
}

.position-absolute {
    position: absolute !important;
}

.w-100 {
    width: 100% !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0px !important;
}

.mat-expansion-indicator::after {
    color: #757884 !important;
}

.mat-expanded .mat-expansion-indicator::after {
    color: white !important;
}

.mat-expansion-panel.close .mat-expansion-panel-header span::after,
.mat-expansion-panel.close .mat-expansion-panel-header-title {
    display: none !important;
}

.align-items-center {
    align-items: center !important;
}

.text-white {
    color: #fff !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-block {
    display: inline-block !important;
}

.accordion-button {
    transition: none;
}

.btn-danger {
    color: #fff;
    background-color: #f6365b;
    border-color: #f6365b;
}

.btn-success {
    color: #fff;
    background-color: #2cce89;
    border-color: #2cce89;
}

.btn-primary {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
}

.btn-dark {
    color: #fff;
    background-color: #414141;
    border-color: #414141;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.btn-secondary {
    background-color: #172b4e;
    border-color: #172b4e;
}

.btn-info {
    color: #fff;
    background-color: #10cdef;
    border-color: #10cdef;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label .ng-star-inserted {
    padding-left: 0.6rem !important;
}

#close {
    background-color: #fff;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.375rem 0.844rem;
    font-size: .75rem;
    border-radius: 4px;
}

.dt-buttons .btn-sm {
    margin-right: 2.5px;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1e1e2c;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1.125rem;
    color: #c6c2f6;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.dropdown-menu.show {
    display: block !important;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a:hover {
    cursor: pointer;
}

mat-drawer {
    width: 18.2rem;
    max-width: 18.2rem;
    background-color: #1e1e2c;
}

.opened {
    width: 18.2rem;
    max-width: 18.2rem;
}

.closed {
    width: 4.6875rem;
}

mat-drawer-container {
    height: 100%;
}

.mat-expansion-panel-header-title {
    color: white !important;
}

#close {
    background-color: #fff;
}

@media (min-width: 992px) {
    .py-lg-5
    {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}


@media (min-width: 992px) {
    .my-lg-5 {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
}
@media (min-width: 576px) {
    .px-sm-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}

.help-block, .invalid-feedback, .valid-feedback {
    font-size: .6875rem;
    margin-top: 0.325rem;
}

textarea {
    resize: both;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

textarea {
    width: 532px;
    height: 130px;
    border: 1px solid #e5e5e5 !important;
}