<main id="clx-page-content" role="main" class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-hdr">
                    <h2>List Customers</h2>
                    <div class="panel-toolbar">
                        <div class="btn-group">
                            <a [routerLink]="['/Customers']" class="btn btn-sm btn-success waves-effect waves-themed"> Add Customer</a>
                        </div>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="table-responsive" id="ib_data_panel">
                            <div id="clx_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                        <div id="clx_datatable_filter" class="dataTables_filter"><label><div class="input-group-text d-inline-flex width-3 align-items-center justify-content-center border-bottom-right-radius-0 border-top-right-radius-0 border-right-0"><i class="fas fa-search"></i></div>
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Search">
                                                <button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="searchKey=''" (click)="refresh()">
                                                    <mat-icon id="close">close</mat-icon>
                                                </button>
                                            </mat-form-field></label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <ng-container matColumnDef="position">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="weight">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="symbol">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="manage">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <div class="btn-group float-right">
                                                        <a [routerLink]="['/ViewCustomer']" class="btn btn-primary btn-icon waves-effect waves-themed has-tooltip" data-title="View" data-placement="top" data-bs-original-title="" title=""><i class="fas fa-user-alt"></i> </a>
                                                        <a class="btn btn-info btn-icon waves-effect waves-themed has-tooltip" data-title="Edit" data-placement="top" data-bs-original-title="" title=""><i class="fas fa-pencil-alt"></i> </a>
                                                        <a class="btn btn-danger btn-icon waves-effect waves-themed has-tooltip" data-title="Delete" data-placement="top" data-bs-original-title="" title=""><i class="fas fa-trash-alt"></i> </a>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>