table {
    width: 100%;
}

.page-content {
    padding: 1rem 2em;
}

.page-content {
    background-color: #f2f4f6;
}

.page-content {
    flex: 1 1 auto;
    order: 3;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-content {
    color: #666;
}

.panel {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.panel-hdr {
    background: #fff;
}

.panel-hdr {
    display: flex;
    align-items: center;
    background: #fff;
    min-height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-radius: 4px 4px 0 0;
    transition: background-color .4s ease-out;
}

    .panel-hdr h2:not(:only-child) {
        margin-right: 0.66667rem;
    }

    .panel-hdr > :first-child {
        padding-left: 1rem;
    }

    .panel-hdr h2 {
        flex: 1;
        font-size: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
        line-height: 3rem;
        color: inherit;
        color: #333;
        position: relative;
        font-weight: 500;
    }

    .panel-hdr > :last-child {
        padding-right: 1rem;
    }

.panel-toolbar {
    display: flex;
    align-items: center;
}

.panel .panel-container .panel-content:last-child,
.panel .panel-container .panel-content:only-child {
    border-radius: 0 0 4px 4px;
}

.panel .panel-container .panel-content {
    padding: 1rem 1rem;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:first-child {
    padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
    padding-right: 0;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.d-flex {
    display: flex !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: inherit;
}

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: 400;
        white-space: nowrap;
        text-align: left;
    }

.border-bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
}

.border-top-right-radius-0 {
    border-top-right-radius: 0 !important;
}

.width-3 {
    width: 2.5rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dt-buttons {
    position: relative;
    float: left;
}
i {
    padding: 0 !important;
}