<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-hdr">
                    <h2><span></span>Add New Account</h2>
                </div>
                <div class="panel-container show" id="ibox_form">
                    <div class="panel-content">
                        <div class="px-2">
                            <div class="alert alert-danger" id="emsg" style="display: none;">
                                <span id="emsgbody"></span>
                            </div>
                            <form id="rform">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="mb-3 row">
                                            <label for="account" class="col-sm-3"><span class="h6">Account Title</span><span class="text-danger">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" id="account" name="account" class="form-control" autofocus="">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="description" class="col-sm-3"><span class="h6">Description</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" id="description" name="description" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="initial_balance" class="col-sm-3"><span class="h6">Initial Balance</span> </label>
                                            <div class="col-sm-9">
                                                <input type="text" id="initial_balance" name="initial_balance" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="account_number" class="col-sm-3"><span class="h6">Account Number</span> </label>
                                            <div class="col-sm-9">
                                                <input type="text" id="account_number" name="account_number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="contact_person" class="col-sm-3"><span class="h6">Contact Person</span> </label>
                                            <div class="col-sm-9">
                                                <input type="text" id="contact_person" name="contact_person" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="phone" class="col-sm-3"><span class="h6">Phone</span> </label>
                                            <div class="col-sm-9">
                                                <input type="text" id="phone" name="phone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="owner_id" class="col-sm-3"><span class="h6">Owner</span> </label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="owner_id" id="owner_id">
                                                    <option value="1" selected="">Richard Williams</option>
                                                    <option value="57">Jose luis</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <button class="btn btn-primary mt-3 mr-3 waves-effect waves-themed" type="submit" id="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>