<mat-nav-list>
    <div class="page-logo">
        <a href="" class="page-logo-link d-flex align-items-center position-relative">
            <img src="../../../../Scripts/Client/assets/Images/logo3.png" alt="Review Zone" aria-roledescription="logo">
            <span class="page-logo-text mr-1">Review Zone</span>
        </a>
    </div>
    <div class="info-card">
        <img src="https://source.unsplash.com/WNoLnJo7tS8" class="profile-image rounded-circle" alt="{{userName}}">
        <div class="info-card-text">
            <a [routerLink]="['/']" class="d-flex align-items-center" style="background: none; color: white !important;">
                <span class="text-truncate text-truncate-sm d-inline-block">
            {{userName}}
          </span>
            </a>
        </div>
        <img src="../../../../Scripts/Client/assets/Images/cover-2-lg.png" class="cover" alt="cover" />
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button [routerLink]="['/']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <mat-icon>home</mat-icon><span class="nav-link-text">Dashboard</span>
                </button>
            </h2>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <mat-icon>person</mat-icon><span class="nav-link-text">Customers</span>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/Customers']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Add Customer
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/CustomerList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    List Customer
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="fas fa-calculator"></i>
                    <span class="nav-link-text">Accounting</span>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/Vouchers']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Vouchers
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/AccountList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Accounts
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Accounts']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    New Accounts
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <mat-icon>account_balance_wallet</mat-icon>
                    <span class="nav-link-text">Sales</span>
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/Invoices']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Invoice
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/NewInvoice']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        New Invoice
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Payments']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Payments
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <mat-icon>shopping_bag</mat-icon>
                    <span class="nav-link-text">Orders</span>
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/OrderList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    List All Orders
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Orders']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Add New Orders
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    <i class="fab fa-product-hunt"></i>
                    <span class="nav-link-text">Product</span>
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/ProductList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Products
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Products']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Add Products
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <mat-icon>toc</mat-icon>
                    <span class="nav-link-text">Task</span>
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/Tasks']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Add New Task
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/TaskList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        List All Tasks
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    <mat-icon>group</mat-icon>
                    <span class="nav-link-text">Employee</span>
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/EmployeeList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Employees
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Employees']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Add Employees
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    <i class="fas fa-user-secret"></i>
                    <span class="nav-link-text">Evaluator</span>
                </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/EvaluatorList']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Evaluators
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/Evaluator']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Add New Evaluators
                    </button>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-link-text">Reports</span>
                </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <button [routerLink]="['/ReportInvoices']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Invoices
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/ReportPayments']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Payments
                    </button>
                </div>
                <div class="accordion-body">
                    <button [routerLink]="['/ReportForecast']" class="accordion-button collapsed disabled" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Sales Forecast
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-nav-list>
