.pt-10 {
    padding-top: 10px;
}

.page-logo {
    height: 4.125rem;
    width: 16.875rem;
    box-shadow: 0 0 28px 0 rgb(0 0 0 / 13%);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;
    padding: 0 2rem;
}

.page-logo img {
    width: 40px;
    height: 40px;
}

.page-logo .page-logo-link {
    flex: 1 0 auto;
}

.page-logo-text {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    display: block;
    flex: 1 0 auto;
    text-align: left;
}

.mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
}

.list-item-active {
    color: #f2f5f7 !important;
}

.mat-list-item-content {
    background: white !important;
}

.mat-list-item-content:hover {
    background: #91999b !important;
}

.mat-subheader {
    color: #91999b;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.mat-expansion-panel {
    box-shadow: none !important;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-nav-list a {
    background: #1e1e2c;
    color: #91999b !important;
}

.mat-expansion-panel {
    background: #1e1e2c;
    color: #91999b !important;
}

.mat-expansion-panel-header-title {
    background: #1e1e2c;
    color: #91999b !important;
}

.close {
    pointer-events: none;
    cursor: pointer;
}

.mat-expansion-indicator {
    display: none !important;
}

.mat-expanded .mat-nav-list a,
.mat-expanded .mat-expansion-panel,
.mat-expanded .mat-expansion-panel-header-title.active-title,
.success .active-title {
    color: White !important;
}

.mat-expanded .mat-icon,
.mat-expanded .mat-list-item i::before,
.success .mat-icon {
    transition: fill .3s ease;
    color: #3699ff;
}

.mat-expanded.mat-expansion-panel-header,
.mat-expanded .mat-list-item,
.mat-expanded .mat-list-item-content,
.mat-expanded .mat-expansion-panel-header-title,
.mat-expanded .mat-expansion-panel-content .mat-expansion-panel-body {
    background-color: #1b1b27 !important;
}

.mat-expanded .active-subtitle {
    color: #3c7341;
}

.mat-expansion-panel.close .mat-icon {
    margin-right: 0!important;
}

.mat-expansion-panel.close .mat-list-item i::before {
    margin-left: 18.5px;
}

.info-card {
    color: #fff;
}

.info-card {
    position: relative;
    width: 16.875rem !important;
    height: 9.53rem !important;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem !important;
    transition: all .7s cubic-bezier(.34, 1.25, .3, 1);
}

.info-card .profile-image {
    width: 3.125rem;
    height: auto;
    display: inline-block;
    z-index: 2;
    position: relative;
}

.profile-image {
    width: 3.125rem;
    height: 3.125rem;
}

.rounded-circle {
    border-radius: 50%!important;
}

.info-card .info-card-text {
    text-shadow: #000 0 1px;
}

.info-card .info-card-text {
    margin-left: 1rem;
    color: inherit;
    text-shadow: #000 0 1px;
    z-index: 1;
    position: relative;
    line-height: normal;
}

.info-card-text {
    font-size: .875rem;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    line-height: 1.35;
}

.text-truncate-sm {
    max-width: 117px;
}

.info-card img.cover {
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: auto;
}

.info-card img.cover {
    background-size: cover;
}

.info-card img.cover {
    transition: opacity .5s ease-in-out;
}

.disabled.accordion-button::after {
    display: none;
}

i {
    padding-right: 22px;
    margin-left: 4px;
}

#accordionFlushExample {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#flush-headingOne,
.accordion-item,
.accordion-button {
    background: #1e1e2c !important;
    color: #91999b !important;
}

.accordion-button::after {
    color: #91999b !important;
}

.accordion-collapse.show .accordion-body,
.accordion-collapse.show .accordion-body button {
    color: #fff;
    background-color: #1b1b27 !important;
    box-shadow: none;
}

button[aria-expanded="true"] .accordion-button::after {
    color: white !important;
}

button[aria-expanded="true"] i,
button[aria-expanded="true"] .mat-icon {
    transition: fill .3s ease;
    color: #3699ff;
}

button[aria-expanded="true"] .nav-link-text {
    color: white;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    fill: #91999b !important;
}
