<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-container">
                    <div class="panel-content">
                        <h3 style="color: #2f96f3;">Order # 1</h3>
                        <hr>
                        <a href="javascript:;" onclick="if (!window.__cfRLUnblockHandlers) return false; confirmThenGoToUrl(event,'orders/set/1/Active/');" class="btn btn-primary waves-effect waves-themed"> Accept </a>
                        <a href="javascript:;" onclick="if (!window.__cfRLUnblockHandlers) return false; confirmThenGoToUrl(event,'orders/set/1/Pending/');" class="btn btn-warning waves-effect waves-themed"> Pending </a>
                        <a href="javascript:;" onclick="if (!window.__cfRLUnblockHandlers) return false; confirmThenGoToUrl(event,'orders/set/1/Cancelled/');" class="btn btn-info waves-effect waves-themed"> Cancel </a>
                        <a href="javascript:;" onclick="if (!window.__cfRLUnblockHandlers) return false; confirmThenGoToUrl(event,'delete/order/1/');" class="btn btn-danger waves-effect waves-themed"> Delete </a>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="well">
                                    <h4>Order Number - 2078952654</h4>
                                    <p><strong>Customer: </strong> Maria Elizabeth</p>
                                    <p><strong>Product/Service: </strong> Marvel T-shirt</p>
                                    <p><strong>Amount: </strong> <span class="amount">100.00</span> </p>
                                    <p><strong>Date: </strong>2019-03-02</p>
                                    <p><strong>Status: </strong>
                                        <span class="label label-success">Active</span>
                                    </p>
                                    <p><strong>Invoice: </strong> <a>4</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>