/* Login */

.page-inner,
.page-wrapper {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    width: 100%;
}

.page-wrapper {
    position: relative;
}

.page-inner {
    min-height: 100vh;
}

.page-content-wrapper {
    background: #fff;
}

.page-content-wrapper {
    background-color: #fff;
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    padding: 0;
    flex-basis: 100%;
    flex-direction: column;
    width: 0;
    min-width: 0;
    max-width: 100%;
    min-height: 1px;
}

.page-logo,
.nav-footer,
.bg-brand-gradient {
    background: #08ad7a;
}

.height-10 {
    height: 4.25rem;
}

.bg-brand-gradient,
.nav-footer,
.page-logo,
.page-sidebar {
    background-image: linear-gradient( 270deg, rgba(51, 148, 225, .18), transparent);
    background-color: #1e1e2c;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.p-0 {
    padding: 0!important;
}

.d-flex {
    display: flex!important;
}

.page-logo,
.nav-footer,
.bg-brand-gradient {
    background: #1e1e2c;
}

.align-items-center {
    align-items: center!important;
}

.shadow-0 {
    box-shadow: none!important;
}

.bg-img-none {
    background-image: none!important;
}

.height-9 {
    height: 4rem;
}

.page-logo {
    height: 4.125rem;
    width: 16.875rem;
    box-shadow: 0 0 28px 0 rgb(0 0 0 / 13%);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;
    padding: 0 2rem;
}

.page-logo .page-logo-link {
    flex: 1 0 auto;
}

.press-scale-down {
    transition: all .2s ease;
}

.page-logo img {
    width: 28px;
    height: 28px;
}

.page-logo-text {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    display: block;
    flex: 1 0 auto;
    text-align: left;
}

.flex-1 {
    flex: 1;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 0.375rem;
    background-color: #fff;
    background-clip: border-box;
}

.card,
.card-group {
    box-shadow: 0 0 13px 0 rgb(35 19 196 / 8%);
}

.p-4 {
    padding: 1.5rem!important;
}

.text-center {
    text-align: center!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.form-label {
    font-weight: 500;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-control-lg {
    min-height: calc(1.47em + 1.5rem + 2px);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.875rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.47;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}