a {
    text-decoration: none !important;
}

.page-content {
    padding: 1rem 2em;
}

.page-content {
    background-color: #f2f4f6;
}

.page-content {
    flex: 1 1 auto;
    order: 3;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-info {
    color: #7553F7!important;
}

.page-content {
    color: #666;
}

.panel {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.panel-hdr {
    background: #fff;
}

.panel-hdr {
    display: flex;
    align-items: center;
    background: #fff;
    min-height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-radius: 4px 4px 0 0;
    transition: background-color .4s ease-out;
}

.panel-hdr h2:not(:only-child) {
    margin-right: 0.66667rem;
}

.panel-hdr>:first-child {
    padding-left: 1rem;
}

.panel-hdr h2 {
    flex: 1;
    font-size: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 3rem;
    color: inherit;
    color: #333;
    position: relative;
    font-weight: 500;
}

.panel-hdr>:last-child {
    padding-right: 1rem;
}

.panel-toolbar {
    display: flex;
    align-items: center;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.panel .panel-container {
    position: relative;
    border-radius: 0 0 4px 4px;
}

.panel .panel-container .panel-content:last-child,
.panel .panel-container .panel-content:only-child {
    border-radius: 0 0 4px 4px;
}

.panel .panel-container .panel-content {
    padding: 1rem 1rem;
}

.px-2 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}

.alert-danger {
    color: #e7026e;
    background-color: #ffe5f1;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.875rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.47;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-content .panel {
    margin-bottom: 1.5rem;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}