<main id="clx-page-content" role="main" class="page-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel" data-select2-id="6">
                <div class="panel-hdr">
                    <h2>Add New Order</h2>
                </div>
                <div class="panel-container" id="ibox_form" data-select2-id="ibox_form">
                    <div class="panel-content" data-select2-id="5">
                        <form class="form-horizontal" id="ib_form" data-select2-id="ib_form">
                            <div class="row align-items-center">
                                <div class="col-md-6 offset-md-3">
                                    <div class="mb-3" data-select2-id="4"><label class="col-md-3 control-label" for="cid">Customer </label>
                                        <select id="cid" name="cid" class="form-control select2-hidden-accessible" data-select2-id="cid" tabindex="-1" aria-hidden="true">
                                            <option value="5" data-select2-id="302">Nona Vandervort - haylie65@wolf.com</option>
                                            <option value="4" data-select2-id="303">Mr. Buford Koss - pjakubowski@yahoo.com</option>
                                            <option value="3" data-select2-id="304">Marjory Bartoletti MD - kharvey@raynor.info</option>
                                            <option value="2" data-select2-id="305">Ms. Audra Maggio - eugenia94@gmail.com</option>
                                            <option value="1" data-select2-id="306">Mr. Oral Bode Sr. - gabrielle80@hotmail.com</option>
                                            </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="1" style="width: 635.513px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cid-container"><span class="select2-selection__rendered" id="select2-cid-container" role="textbox" aria-readonly="true" title="Maria Elizabeth - client@example.com">Maria Elizabeth - client@example.com</span>
                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                        </span>
                                        </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div id="item_block">
                                        <div class="mb-3"><label class="col-md-4 control-label" for="pid">Product/Service</label>
                                            <select id="pid" name="pid" class="form-control">
                                                <option value="">Select...</option>
                                                <option value="17">Coffee</option>
                                                <option value="18">Speaker</option>
                                                <option value="19">Perfum</option>
                                                <option value="20">Perfume chanel</option>
                                                <option value="21">Black coffee</option>
                                                <option value="22">Handwash</option>
                                            </select>
                                        </div>
                                        <div class="mb-3"><label class="col-md-4 control-label" for="price">Price</label>
                                            <input type="text" id="price" name="price" class="form-control amount">
                                        </div>
                                        <div class="mb-3"><label class="col-md-4 control-label" for="qty">Qty</label>
                                            <input type="text" id="qty" name="qty" class="form-control" value="1">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-md-4 control-label" for="qty">&nbsp;</label>
                                        <div>
                                            <button type="button" id="add_item" class="btn btn-primary waves-effect waves-themed"> Add another item</button>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="mb-3"><label class="col-md-4 control-label" for="status">Status</label>
                                        <select id="status" name="status" class="form-control">
                                            <option value="Pending">Pending</option>
                                            <option value="Active">Active</option>
                                        </select>
                                    </div>
                                    <div class="mb-3"><label class="col-md-4 control-label" for="payterm">Billing Cycle</label>
                                        <select id="billing_cycle" name="billing_cycle" class="form-control">
                                            <option value="Free Account">Free</option>
                                            <option value="One Time" selected="">One Time</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Quarterly">Quarterly</option>
                                            <option value="Semi-Annually">Semi-Annually</option>
                                            <option value="Annually">Annually</option>
                                            <option value="Biennially">Biennially</option>
                                            <option value="Triennially">Triennially</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-6">
                                    <hr>
                                    <div class="mb-3">
                                        <div>
                                            <button class="btn btn-primary waves-effect waves-themed" type="submit" id="submit"> Submit</button> | <a href="">Or Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>